<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <%- style %>
        <!-- style was not exported in layout  ok got it thanks another doubt in home.ejs-->
    </head>
    <body>
        
        <%-  include('_header') %>


        <%- body %>

        
        <%- include('_footer') %>


    </body>

</html>